# pylibmql
A python library that parses MQL queries into structured JSON output.

Implementation uses Rust and PEST grammars under the hood.

## Instalation
Three methods
- You can install the wheels [here](https://pypi.org/project/pylibmql/).
- You can build from source [here](https://github.com/mrodz/major-requirement-parser)
- You can install with pip:
  ```bash
  # minimum version 3.8
  pip install pylibmql
  ```

## Import library

In [1]:
import pylibmql

## Parse example

In [2]:
MQL_EXAMPLE = \
    """
    SELECT 1 FROM [CLASS(MATH 1150), PLACEMENT("5 on AP Calc")] : "prerequirements";
    SELECT 1 FROM [CLASS(MATH 2250), CLASS(MATH 2260)] : "Linear algebra with proofs";
    SELECT 1 FROM [CLASS(MATH 3020), CLASS(MATH 1200)] : "Vector analysis or Multivariable calculus";
    SELECT 1 FROM [CLASS(MATH 3500)] : "Required";
    SELECT 1 FROM [CLASS(MATH 3050), CLASS(MATH 3100), PLACEMENT("can substitute higher level course in same area with DUS approval")] : "One of MATH 3050 or MATH 3100, can substitute higher level course in same area with DUS approval";
    SELECT 3 FROM [TAG("YC MATH Distribution")] : "3 courses in the Math distribution category";
    SELECT 1 FROM [RANGE(MATH 4800, MATH 4890), PLACEMENT("MATH 4750 with DUS approval")] : "Senior requirement";
    SELECT 10 FROM [RANGE(MATH 2250, MATH 4699), RANGE(MATH 4701, MATH 4749)] : "10 courses numbered 2250 or higher (incl senior req) excl Math 4700";
    """

output = pylibmql.parse(MQL_EXAMPLE)

## Test version

In [3]:
output.version()

'0.1.3'

## Format output as JSON

In [4]:
output.json()

'{"version":"0.1.3","requirements":[{"query":{"quantity":{"Single":1},"selector":[{"Class":{"department_id":"MATH","course_number":1150}},{"Placement":"5 on AP Calc"}]},"description":"prerequirements","priority":1},{"query":{"quantity":{"Single":1},"selector":[{"Class":{"department_id":"MATH","course_number":2250}},{"Class":{"department_id":"MATH","course_number":2260}}]},"description":"Linear algebra with proofs","priority":1},{"query":{"quantity":{"Single":1},"selector":[{"Class":{"department_id":"MATH","course_number":3020}},{"Class":{"department_id":"MATH","course_number":1200}}]},"description":"Vector analysis or Multivariable calculus","priority":1},{"query":{"quantity":{"Single":1},"selector":[{"Class":{"department_id":"MATH","course_number":3500}}]},"description":"Required","priority":1},{"query":{"quantity":{"Single":1},"selector":[{"Class":{"department_id":"MATH","course_number":3050}},{"Class":{"department_id":"MATH","course_number":3100}},{"Placement":"can substitute higher level course in same area with DUS approval"}]},"description":"One of MATH 3050 or MATH 3100, can substitute higher level course in same area with DUS approval","priority":1},{"query":{"quantity":{"Single":3},"selector":[{"Tag":"YC MATH Distribution"}]},"description":"3 courses in the Math distribution category","priority":1},{"query":{"quantity":{"Single":1},"selector":[{"Range":[{"department_id":"MATH","course_number":4800},{"department_id":"MATH","course_number":4890}]},{"Placement":"MATH 4750 with DUS approval"}]},"description":"Senior requirement","priority":1},{"query":{"quantity":{"Single":10},"selector":[{"Range":[{"department_id":"MATH","course_number":2250},{"department_id":"MATH","course_number":4699}]},{"Range":[{"department_id":"MATH","course_number":4701},{"department_id":"MATH","course_number":4749}]}]},"description":"10 courses numbered 2250 or higher (incl senior req) excl Math 4700","priority":1}]}'

## Format output as pretty-printed JSON

In [5]:
output.json_pretty()

'{\n  "version": "0.1.3",\n  "requirements": [\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 1150\n            }\n          },\n          {\n            "Placement": "5 on AP Calc"\n          }\n        ]\n      },\n      "description": "prerequirements",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 2250\n            }\n          },\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 2260\n            }\n          }\n        ]\n      },\n      "description": "Linear algebra with proofs",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 3020\n            }\n          },\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 1200\n            }\n          }\n        ]\n      },\n      "description": "Vector analysis or Multivariable calculus",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 3500\n            }\n          }\n        ]\n      },\n      "description": "Required",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 3050\n            }\n          },\n          {\n            "Class": {\n              "department_id": "MATH",\n              "course_number": 3100\n            }\n          },\n          {\n            "Placement": "can substitute higher level course in same area with DUS approval"\n          }\n        ]\n      },\n      "description": "One of MATH 3050 or MATH 3100, can substitute higher level course in same area with DUS approval",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 3\n        },\n        "selector": [\n          {\n            "Tag": "YC MATH Distribution"\n          }\n        ]\n      },\n      "description": "3 courses in the Math distribution category",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 1\n        },\n        "selector": [\n          {\n            "Range": [\n              {\n                "department_id": "MATH",\n                "course_number": 4800\n              },\n              {\n                "department_id": "MATH",\n                "course_number": 4890\n              }\n            ]\n          },\n          {\n            "Placement": "MATH 4750 with DUS approval"\n          }\n        ]\n      },\n      "description": "Senior requirement",\n      "priority": 1\n    },\n    {\n      "query": {\n        "quantity": {\n          "Single": 10\n        },\n        "selector": [\n          {\n            "Range": [\n              {\n                "department_id": "MATH",\n                "course_number": 2250\n              },\n              {\n                "department_id": "MATH",\n                "course_number": 4699\n              }\n            ]\n          },\n          {\n            "Range": [\n              {\n                "department_id": "MATH",\n                "course_number": 4701\n              },\n              {\n                "department_id": "MATH",\n                "course_number": 4749\n              }\n            ]\n          }\n        ]\n      },\n      "description": "10 courses numbered 2250 or higher (incl senior req) excl Math 4700",\n      "priority": 1\n    }\n  ]\n}'

## View internal Rust structure

Useful for debugging purposes

In [10]:
str(output)

'ParseResult { parsed_mql_file: MQLQueryFile { version: "0.1.3", requirements: [MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Class(Class { department_id: "MATH", course_number: 1150 }), Placement("5 on AP Calc")] }, description: "prerequirements", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Class(Class { department_id: "MATH", course_number: 2250 }), Class(Class { department_id: "MATH", course_number: 2260 })] }, description: "Linear algebra with proofs", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Class(Class { department_id: "MATH", course_number: 3020 }), Class(Class { department_id: "MATH", course_number: 1200 })] }, description: "Vector analysis or Multivariable calculus", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Class(Class { department_id: "MATH", course_number: 3500 })] }, description: "Required", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Class(Class { department_id: "MATH", course_number: 3050 }), Class(Class { department_id: "MATH", course_number: 3100 }), Placement("can substitute higher level course in same area with DUS approval")] }, description: "One of MATH 3050 or MATH 3100, can substitute higher level course in same area with DUS approval", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(3), selector: [Tag("YC MATH Distribution")] }, description: "3 courses in the Math distribution category", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(1), selector: [Range(Class { department_id: "MATH", course_number: 4800 }, Class { department_id: "MATH", course_number: 4890 }), Placement("MATH 4750 with DUS approval")] }, description: "Senior requirement", priority: 1 }, MQLRequirement { query: MQLQuery { quantity: Single(10), selector: [Range(Class { department_id: "MATH", course_number: 2250 }, Class { department_id: "MATH", course_number: 4699 }), Range(Class { department_id: "MATH", course_number: 4701 }, Class { department_id: "MATH", course_number: 4749 })] }, description: "10 courses numbered 2250 or higher (incl senior req) excl Math 4700", priority: 1 }] } }'

## Test common errors

In [8]:
pylibmql.parse('SELECT 1 FROM [CLASS(CPSC 2010), CLASS("todo")] : "should take CPSC 2010 or CPSC 2020";')

ValueError: failed parsing selector

Caused by:
     --> 1:34
      |
    1 | SELECT 1 FROM [CLASS(CPSC 2010), CLASS("todo")] : "should take CPSC 2010 or CPSC 2020";
      |                                  ^-----------^
      |
      = CLASS function must take one <CLASS> argument of the form `DEPARTMENT_ID CLASS_ID`

In [9]:
pylibmql.parse('SELECT 0 FROM CLASS(ECON 1115): "must take ECON 115";')

ValueError: failed parsing quantity

Caused by:
     --> 1:8
      |
    1 | SELECT 0 FROM CLASS(ECON 1115): "must take ECON 115";
      |        ^
      |
      = cannot select zero